.wrangler/
*.zip
*BACKUP*
TEST.backup-*
*backup*
*prima-*
*PRIMA_*
worker.js
wrangler.toml
migrations/
nodesource_setup.sh
README.txt
9bcaf686-1abb-4bc4-9eea-2e295a214914.png
DiarioFIT.png
DiarioFIT_icone_home_senza_bordo_bianco/
IconaHome.png
LogoDiarioFIT.png
mascotte-gemini.png
GEMINI_BLOCCO_ORIGINALE.txt
TEST-report-2.0-DEFINITIVO.html
TEST-help-2.0-logo-ufficiale-completo.html
TEST-info-2.0-logo-ufficiale-completo.html
TEST-inserimento-libero-2.2-completo.html
TEST-pasti-salvati-completo.html
TEST-peso-reale-Gemini-FIX-inserimenti.html
TEST-peso-reale-Gemini-completo.html
TEST-report-2.0-validato.html
TEST-report-grafico-peso-completo.html
TEST_PRE_CATALOG_TEST.html
TEST-help-2.0-logo-ufficiale-completo.html
TEST-info-2.0-logo-ufficiale-completo.html
TEST-inserimento-libero-2.2-completo.html
TEST-pasti-salvati-completo.html
TEST-peso-reale-Gemini-FIX-inserimenti.html
TEST-peso-reale-Gemini-completo.html
TEST-report-2.0-validato.html
TEST-report-grafico-peso-completo.html
TEST_PRE_CATALOG_TEST.html

# Archivio locale di sviluppo / file di passaggio
FileDiPassaggio/
